html,body {
    height: 100%;
    margin: 0;
}
body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
canvas {
    background-color: #252627;
}
#p1,#p2 {
    color: yellow;
    position: absolute;
    font-family: cursive;
    font-size: xx-large;
}
#p1 {
  top: 270px;
}
#p2 {
    top: 300px;
}    
#score {
    color: yellow;
}
#high {
    color: yellow;
}